<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>
  
      <style>
          .superContenedorM{
              width: 100%;
              height: 450px;
              display: flex;
          }
          .datos{
              width: 50%;
          }
          
          .mapacot{
              width: 50%;
              height: 100%;
          }
          #map{
              height: 100%;
              width: 100%;
          }
      </style>
    
  
  
    
    
    <div class="superContenedorM">
        <div class="datos">
            <h2 th:text="#{info}">Owner Information</h2>
            <table class="table table-striped" th:object="${owner}">
                <tr>
                  <th th:text="#{name}">Name</th>
                  <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
                </tr>
                <tr>
                  <th th:text="#{address}">Address</th>
                  <td id="direccion" th:text="*{address}" /></td>
                </tr>
                <tr>
                  <th th:text="#{city}">City</th>
                  <td th:text="*{city}" /></td>
                </tr>
                <tr>
                  <th th:text="#{telephone}">Telephone</th>
                  <td th:text="*{telephone}" /></td>
                </tr>
                
                    <td style="display:none;" id="lat1" th:text="*{latitud}" /></td>
                    <td style="display:none;" id="lng1" th:text="*{longintud}" /></td> 
                 
                    
                    
                    
                
                  
             
                
            </table>
            
        </div>
        <div class="mapacot">
            
            <div id="map"></div>

        </div>
    </div>   
         <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        
// Initialize and add the map
function initMap() {
  // The location of Uluru
  
    var children1 = $("#lat1")[0].innerHTML;
    var children2 = $("#lng1")[0].innerHTML;
    var sinCoordenadas=true;
   ;
    var latO=parseFloat(children1);
    var lngO=parseFloat(children2);
   // alert("Debe ingresar un mapa"+latO);
    
    if(latO==0 || lngO==0){
        latO=-33.8688;
        lngO=151.2195;
        sinCoordenadas=false;
    }
  var uluru = {lat: latO, lng: lngO};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: uluru});
  // The marker, positioned at Uluru
  
  
  var informacion=new google.maps.InfoWindow();
  if(sinCoordenadas==true){
      var marker = new google.maps.Marker({position: uluru, map: map});
      informacion.setContent('<div><strong>'+'Su ubicación'+'</strong><br>'+$("#direccion").text());
      informacion.open(map,marker);
  }
  
}
</script>
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiGgPhJJCWi9iyCth-fpxQ7mHLgR_o_oo&callback=initMap">
    </script>

    <a th:href="@{{id}/edit(id=${owner.id})}" class="btn btn-default" th:text="#{editOwner}">Edit
      Owner</a>
    <a th:href="@{{id}/pets/new(id=${owner.id})}" class="btn btn-default" th:text="#{newPet}">Add
      New Pet</a>
  
    <br />
    <br />
    <br />
    <h2 th:text="#{pav}">Pets and Visits</h2>
  
    <table class="table table-striped">
  
      <tr th:each="pet : ${owner.pets}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt th:text="#{name}">Name</dt>
            <dd th:text="${pet.name}" /></dd>
            <dt th:text="#{birthDate}">Birth Date</dt>
            <dd
              th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}" /></dd>
            <dt th:text="#{type}">Type</dt>
            <dd th:text="${pet.type}" /></dd>
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th th:text="#{visitDate}">Visit Date</th>
                <th th:text="#{description}">Description</th>
              </tr>
            </thead>
            <tr th:each="visit : ${pet.visits}">
              <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
              <td th:text="${visit?.description}"></td>
            </tr>
            <tr>
              <td><a
                th:href="@{{ownerId}/pets/{petId}/edit(ownerId=${owner.id},petId=${pet.id})}" th:text="#{editPet}">Edit
                  Pet</a></td>
              <td><a
                th:href="@{{ownerId}/pets/{petId}/visits/new(ownerId=${owner.id},petId=${pet.id})}" th:text="#{addVisit}">Add
                  Visit</a></td>
            </tr>
          </table>
        </td>
      </tr>
  
    </table>
   
  </body>
    
</html>
