<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'medicaments')}">

<body>

  <h2 th:text="#{medicament}">Medicament</h2>
  <form th:object="${medicament}" class="form-horizontal" id="add-medicament-form" method="post" enctype="multipart/form-data"  >
    <div class="form-group has-feedback">
    <input
      th:replace="~{fragments/inputField :: input (#{name}, 'nombre', 'text')}" />
    <input
      th:replace="~{fragments/inputField :: input (#{ingredients}, 'ingredientes', 'text')}" />
    <input
      th:replace="~{fragments/inputField :: input (#{presentation}, 'presentacion', 'text')}" />
    <input
      th:replace="~{fragments/inputField :: input (#{description}, 'descripcion', 'text')}" />
    <input
      th:replace="~{fragments/inputField :: input (#{stock}, 'inventario', 'text')}" />
    <input
      th:replace="~{fragments/inputField :: input (#{price}, 'precio', 'text')}" />
    
    <div class="col-sm-offset-1 col-sm-10">
        <h3>Imagen del producto:<h3>
        <input type="file" name="files" />           
    </div>
    
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${medicament['new']} ? 'Add Medicament' : 'Update Medicament'"
          class="btn btn-default" type="submit" th:text="#{addMedic}" >Add
          Medicament</button>
      </div>
    </div>
  </form>
</body>
</html>
